.lb-nav-color {
    background-color: #ffffff;
    padding: 0 0.5rem;
}
.lb-logo-img-responsive {
    width: 9.375rem;
    height: 2.8125rem;
}
.lb-user-image {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
.lb-fafaicons {
    color: #563d7c73;
    font-size: 1.45em;
}
