<div class="w-100 pt-2 pl-1 pr-1 fixed-top" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="75" fxFlex.md="65" fxFlex.sm="55" class="ml-2" fxLayoutGap="20px">
        <img class="lb-logo-img-responsive" src="{{imageSrc}}">
    </div>
    <div fxFlex="25" fxFlex.md="35" fxFlex.sm="45" fxLayoutAlign="center center" fxLayoutGap="30px"
        fxLayoutGap.xs="0px">
        <div fxLayout="row" fxLayoutGap="10px" fxHide.xs>
            <img class="lb-user-image" src="{{userImage}}">
            <span class="font-weight-bold">Jemmy Lee<br>
                <p class="font-weight-light"> Team Leader</p>
            </span>
        </div>
        <button type="button" class="btn btn-light btn-sm rounded-circle" fxHide fxShow.xs>
            <i class="fa fa-bars lb-fafaicons"  aria-hidden="true"></i>
        </button>

        <button type="button" class="btn btn-light btn-sm rounded-circle" fxHide.xs>
            <i class="fa fa-microphone lb-fafaicons" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-light btn-sm rounded-circle" fxHide.xs>
            <i class="fa fa-question lb-fafaicons"  aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-light btn-sm rounded-circle">
            <i class="fa fa-power-off lb-fafaicons"  aria-hidden="true"></i>
        </button>
    </div>
</div>