<div class="sidebar">
    <ul>
        <li><a href="#" routerLink="/dashboard" routerLinkActive="active"><i class="fas fa fa-home"></i>
                <span fxHide.xs>Dashboard</span>
            </a>
        </li>
        <li><a routerLink="/summary" routerLinkActive="active"><i class="fas fa fa-user"></i>
                <span fxHide.xs> Summary </span>
            </a>
        </li>
        <li><a routerLink="/summary"><i class="fas fa fa-ticket"></i>
                <span fxHide.xs>Ticket</span>
            </a>
        </li>
        <li class="active">
            <a href="#accounts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i
                    class="fas fa fa-address-book"></i>
                <span fxHide.xs>Accounts</span>
            </a>
            <ul class="collapse list-unstyled ml-3" id="accounts">
                <li>
                    <a href="#">
                        <span fxHide.xs>Expense</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span fxHide.xs>Income</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <span fxHide.xs>Accounts</span>
                    </a>
                </li>
            </ul>
        </li>

        <li><a href="#"><i class="fas fa fa-envelope-open"></i>
                <span fxHide.xs>All Mentions</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-clipboard"></i>
                <span fxHide.xs>Channels</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-users"></i>
                <span fxHide.xs> Reports </span>
            </a>
        </li>

        <li><a href="#"><i class="fas fa fa-tags"></i>
                <span fxHide.xs>Add Content</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-home"></i>
                <span fxHide.xs>Campaign</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-user"></i>
                <span fxHide.xs>Analytics</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-address-card"></i>
                <span fxHide.xs> Email Marketing</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-dashcube"></i>
                <span fxHide.xs>PR Dashboard</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-share-square "></i>
                <span fxHide.xs>Socail Schedule</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-share-square "></i>
                <span fxHide.xs>UGC Management</span>
            </a>
        </li>
        <li><a href="#"><i class="fas fa fa-share-square "></i>
                <span fxHide.xs>DIY Dashboard</span>
            </a>
        </li>
    </ul>
</div>