<div class="w-100 lb-bg-color mt-3">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="85" fxFlex.md="100" fxFlex.sm="100"
        fxFlex.xs="100">

        <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row"
            class="lb-social-border ml-3">
            <div class="card lb-content" fxFlex="100">
                <div class="lb-image" fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <img class="lb-bankimg-responsive" src="/assets/images/sbi-removebg-preview.png">
                    </div>
                    <div fxLayout="column">
                        <h6> State Bank of India</h6>
                        <span>Added on : {{ todayDate  |  date :'medium'}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div fxLayout="row">
                        <span class="font-weight-bold">Last Updated On : <span class="font-weight-light">
                                {{ todayDate  |  date :'medium'}}
                            </span></span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start" class="mt-2">
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                    </div>
                </div>
            </div>
        </div>

        <div fxFlex="50" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100" fxLayout="row" fxLayout.sm="column"
            class="lb-social-border ml-3">
            <div class="card lb-content" fxFlex="100">
                <div class="lb-image" fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <img class="lb-bankimg-responsive pl-3 pr-3" src="/assets/images/hdfc2.png">
                    </div>
                    <div fxLayout="column">
                        <h6> HDFC</h6>
                        <span>Added on : {{ todayDate  |  date :'medium'}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div fxLayout="row">
                        <span class="font-weight-bold">Last Updated On : <span class="font-weight-light">
                                {{ todayDate  |  date :'medium'}}
                            </span></span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start" class="mt-2">
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="w-100 lb-bg-color">
    <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxFlex="85" fxFlex.md="100" fxFlex.sm="100"
        fxFlex.xs="100">

        <div fxFlex="48.5" fxFlex.xs="100" fxLayout="row"
            class="lb-social-border ml-3">
            <div class="card lb-content" fxFlex="100">
                <div class="lb-image" fxLayout="row" fxLayoutAlign="start center">
                    <div fxLayout="column">
                        <img class="lb-bankimg-responsive" src="/assets/images/sbi-removebg-preview.png">
                    </div>
                    <div fxLayout="column">
                        <h6> State Bank of India</h6>
                        <span>Added on : {{ todayDate  |  date :'medium'}}</span>
                    </div>
                </div>
                <div class="card-body">
                    <div fxLayout="row">
                        <span class="font-weight-bold">Last Updated On : <span class="font-weight-light">
                                {{ todayDate  |  date :'medium'}}
                            </span></span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between start" class="mt-2">
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-trash" aria-hidden="true"></i> Delete</button>
                        <button type="button" class="btn btn-outline-secondary btn-sm">
                            <i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
